<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <form method="POST">
        <label for="">Tên đầy đủ:</label><br>
        <input type="text" name="name"><br><br>

        <label for="">Email:</label><br>
        <input type="text" name="email"><br><br>

        <label for="">Tên đăng nhập:</label><br>
        <input type="text" name="user_name"><br><br>

        <label for="">Mật khẩu:</label><br>
        <input type="password" name="password"><br><br>

        <button>Submit</button><br>
    </form>
</body>
</html>