<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posts</title>
</head>
<body>
    <a href="{{ url_for('new_post') }}">Add new post</a>
    <br><br>
    <div>
        {% for post in posts %}
            <div>
                <a href="/post/{{post.id}}">
                <span>{{ post.title }}</span>
                </a>
                <span>by {{ post.author }}</span>
                <br>

                <a href="/delete/{{post.id}}">
                <span>Delete</span>
                </a>
                <br>

                <a href="/update/{{post.id}}">
                <span>Update</span>
                </a>
                <br><br>
            </div>
        {% endfor %}
    </div>

</body>
</html>